@import url('https://fonts.cdnfonts.com/css/qatar2022');

ion-tab-button{
    font-family: 'Qatar2022';

    --background: var(--theme-color-default-1);
    --color-selected: var(--theme-color-default-3);
}